In [2]:
! pip install Pyspark

Requirement already satisfied: Pyspark in c:\python3.11\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\python3.11\lib\site-packages (from Pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
Spark= SparkSession.builder.appName('Dataframe').getOrCreate()

In [7]:
Spark

In [8]:
OrderTB= Spark.read.csv(r"C:\Users\11315\Downloads\Order.csv")

In [9]:
OrderTB.show()

+--------+-----------+----------+
|     _c0|        _c1|       _c2|
+--------+-----------+----------+
|Order_ID|Customer_ID|Order_Date|
|    1001|          2|  02-04-23|
|    1002|          7|  07-04-23|
|    1003|         21|  30-04-23|
|    1004|         30|  11-04-23|
+--------+-----------+----------+

In [15]:
OrderTB=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Order.csv", inferSchema="True")

In [16]:
OrderTB.show()

+--------+-----------+----------+
|Order_ID|Customer_ID|Order_Date|
+--------+-----------+----------+
|    1001|          2|  02-04-23|
|    1002|          7|  07-04-23|
|    1003|         21|  30-04-23|
|    1004|         30|  11-04-23|
+--------+-----------+----------+

In [17]:
CustTB=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Customer.csv",inferSchema="True")

In [18]:
CustTB.show()

+-----------+-------------+------------+-------+
|Customer_ID|Customer_Name|Contact_Name|Country|
+-----------+-------------+------------+-------+
|         10|       Amayra|       Misal|  India|
|          9|     Yachika |        Yash|Germany|
|          5|     Supriya |      Preeti|    USA|
|          2|       Sakshi|         Anu|  India|
+-----------+-------------+------------+-------+

In [20]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"inner").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [21]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"left").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
|    1002|          7|  07-04-23|       null|         null|        null|   null|
|    1003|         21|  30-04-23|       null|         null|        null|   null|
|    1004|         30|  11-04-23|       null|         null|        null|   null|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [24]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"right").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    null|       null|      null|         10|       Amayra|       Misal|  India|
|    null|       null|      null|          9|     Yachika |        Yash|Germany|
|    null|       null|      null|          5|     Supriya |      Preeti|    USA|
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [36]:

OrderTB2=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Order22.csv",inferSchema="True")

In [37]:
OrderTB2.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
+--------+-----------+----------+-------------+

In [40]:
UnionDF= OrderTB2.union(OrderTB)

In [41]:
UnionDF.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
+--------+-----------+----------+-------------+

In [42]:
disDF = OrderTB2.union(OrderTB).distinct()

In [43]:
disDF.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1006|         37|  09-04-23|        Women|
|    1008|         30|  15-04-23|  Accessories|
|    1007|         41|  20-04-23|         Kids|
|    1005|         21|  06-04-23|         Mens|
+--------+-----------+----------+-------------+