In [1]:
! pip install Pyspark

Requirement already satisfied: Pyspark in c:\python3.11\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\python3.11\lib\site-packages (from Pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
Spark= SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
OrderTB= Spark.read.csv(r"C:\Users\11315\Downloads\Order.csv")

In [7]:
OrderTB.show()

+--------+-----------+----------+
|     _c0|        _c1|       _c2|
+--------+-----------+----------+
|Order_ID|Customer_ID|Order_Date|
|    1001|          2|  02-04-23|
|    1002|          7|  07-04-23|
|    1003|         21|  30-04-23|
|    1004|         30|  11-04-23|
+--------+-----------+----------+

In [8]:
OrderTB=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Order.csv", inferSchema="True")

In [9]:
OrderTB.show()

+--------+-----------+----------+
|Order_ID|Customer_ID|Order_Date|
+--------+-----------+----------+
|    1001|          2|  02-04-23|
|    1002|          7|  07-04-23|
|    1003|         21|  30-04-23|
|    1004|         30|  11-04-23|
+--------+-----------+----------+

In [10]:
CustTB=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Customer.csv",inferSchema="True")

In [11]:
CustTB.show()

+-----------+-------------+------------+-------+
|Customer_ID|Customer_Name|Contact_Name|Country|
+-----------+-------------+------------+-------+
|         10|       Amayra|       Misal|  India|
|          9|     Yachika |        Yash|Germany|
|          5|     Supriya |      Preeti|    USA|
|          2|       Sakshi|         Anu|  India|
+-----------+-------------+------------+-------+

In [12]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"inner").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [13]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"left").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
|    1002|          7|  07-04-23|       null|         null|        null|   null|
|    1003|         21|  30-04-23|       null|         null|        null|   null|
|    1004|         30|  11-04-23|       null|         null|        null|   null|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [14]:
OrderTB.join(CustTB,OrderTB.Customer_ID==CustTB.Customer_ID,"right").show()

+--------+-----------+----------+-----------+-------------+------------+-------+
|Order_ID|Customer_ID|Order_Date|Customer_ID|Customer_Name|Contact_Name|Country|
+--------+-----------+----------+-----------+-------------+------------+-------+
|    null|       null|      null|         10|       Amayra|       Misal|  India|
|    null|       null|      null|          9|     Yachika |        Yash|Germany|
|    null|       null|      null|          5|     Supriya |      Preeti|    USA|
|    1001|          2|  02-04-23|          2|       Sakshi|         Anu|  India|
+--------+-----------+----------+-----------+-------------+------------+-------+

In [15]:

OrderTB2=Spark.read.option('header','True').csv(r"C:\Users\11315\Downloads\Order22.csv",inferSchema="True")

In [16]:
OrderTB2.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
+--------+-----------+----------+-------------+

In [18]:
UnionDF= OrderTB2.union(OrderTB)

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 4 columns and the second table has 3 columns;
'Union false, false
:- Relation [Order_ID#294,Customer_ID#295,Order_Date#296,Category_Name#297] csv
+- Relation [Order_ID#57,Customer_ID#58,Order_Date#59] csv

In [ ]:
UnionDF.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
|    1005|         21|  06-04-23|         Mens|
|    1006|         37|  09-04-23|        Women|
|    1007|         41|  20-04-23|         Kids|
|    1008|         30|  15-04-23|  Accessories|
+--------+-----------+----------+-------------+

In [ ]:
disDF = OrderTB2.union(OrderTB).distinct()

In [ ]:
disDF.show()

+--------+-----------+----------+-------------+
|Order_ID|Customer_ID|Order_Date|Category_Name|
+--------+-----------+----------+-------------+
|    1006|         37|  09-04-23|        Women|
|    1008|         30|  15-04-23|  Accessories|
|    1007|         41|  20-04-23|         Kids|
|    1005|         21|  06-04-23|         Mens|
+--------+-----------+----------+-------------+

In [19]:
from pyspark.sql import SparkSession

In [23]:
df_Pyspark= Spark.read.csv(r"C:\Users\11315\Downloads\Customer.csv")