In [36]:
! pip install pyspark

Requirement already satisfied: pyspark in c:\python3.11\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\python3.11\lib\site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
import pyspark

In [38]:
import pandas as pd

In [39]:
pd.read_csv(r"C:\Users\11315\Documents\DataPrac.csv")

   emp_id  SalesItem Country   Quantity
0       1     Laptop    India      100.0
1       2    Mobile     India       30.0
2       3  Earphones    India       50.0
3       4   Desktops    India      110.0
4       5  Keyboards    India       20.0
5       6  Pendrive    London        NaN
6       7      Mouse       UK        NaN
7       8    Airpods      USA       18.0

In [40]:
from pyspark.sql import SparkSession

In [41]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [42]:
spark

In [43]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPrac.csv")

In [44]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [45]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [46]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPrac.csv",inferSchema=True)

In [47]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [48]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

# type shows the type of dataframe

In [49]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [50]:
df_pyspark.head(2)

[Row(emp_id=1, SalesItem='Laptop', Country ='India', Quantity =100),
 Row(emp_id=2, SalesItem='Mobile ', Country ='India', Quantity =30)]

#printSchema  tells about information of column and datatype

In [51]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- SalesItem: string (nullable = true)
 |-- Country : string (nullable = true)
 |-- Quantity : integer (nullable = true)

In [52]:
df_pyspark.columns

['emp_id', 'SalesItem', 'Country ', 'Quantity ']

Shows informatipon of particular column

In [53]:
df_pyspark.select('SalesItem').show()

+---------+
|SalesItem|
+---------+
|   Laptop|
|  Mobile |
|Earphones|
| Desktops|
|Keyboards|
|Pendrive |
|    Mouse|
|  Airpods|
+---------+

In [54]:
df_pyspark.dtypes

[('emp_id', 'int'),
 ('SalesItem', 'string'),
 ('Country ', 'string'),
 ('Quantity ', 'int')]

In [55]:
df_pyspark.describe().show()

+-------+-----------------+---------+--------+------------------+
|summary|           emp_id|SalesItem|Country |         Quantity |
+-------+-----------------+---------+--------+------------------+
|  count|                8|        8|       8|                 6|
|   mean|              4.5|     null|    null|54.666666666666664|
| stddev|2.449489742783178|     null|    null|  40.7267315981367|
|    min|                1|  Airpods|   India|                18|
|    max|                8|Pendrive |     USA|               110|
+-------+-----------------+---------+--------+------------------+

Adding Column in Dataframe

PySpark SQL functions lit() and typedLit() are used to add a new column to DataFrame by assigning a literal or constant value. Both these functions return Column type as return type.

In [56]:
df_pyspark= df_pyspark.withColumn('Demo',df_pyspark['Quantity ']).show()

+------+---------+--------+---------+----+
|emp_id|SalesItem|Country |Quantity |Demo|
+------+---------+--------+---------+----+
|     1|   Laptop|   India|      100| 100|
|     2|  Mobile |   India|       30|  30|
|     3|Earphones|   India|       50|  50|
|     4| Desktops|   India|      110| 110|
|     5|Keyboards|   India|       20|  20|
|     6|Pendrive |  London|     null|null|
|     7|    Mouse|      UK|     null|null|
|     8|  Airpods|     USA|       18|  18|
+------+---------+--------+---------+----+

# Renamed the Column
df_pyspark= df_pyspark.withColumnRenamed('Quantity ', 'ProductQuantity')

df_pyspark.show(5)

# Handling Missing Values

In [59]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [60]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [62]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [63]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [64]:
df_pyspark=spark.read.option('header',True).csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [65]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [66]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [67]:
# Threshold 
# thresh=2 --if there are atleast two Non-Null values present in the Row, then the threshold function will not remove any Null values from a row.
df_pyspark.na.drop(how='any',thresh=2).show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [ ]:
#Subset

In [ ]:
from pyspark.ml.feature import Imputer

Imputer=Imputer
inputcols=Imputer(
inputcols=['emp_id','SalesItem','Country','Quantity'],
outputcols=["{}_imputed".format(c) for c in ['emp_id','SalesItem','Country','Quantity']]
).setStrategy("mean")

In [69]:
from pyspark.sql.functions import col
from pyspark.sql.functions import when

In [70]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

we can use subset=['coumn Name'] for removing null values from individual column. or we can use when condition.

In [71]:
df_pyspark.na.fill(value=0).show()

df_pyspark = df_pyspark.withColumn("Quantity ", when(df_pyspark["Quantity "].isNull(), 0).otherwise(df_pyspark["Quantity "]))

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|        0|
|     7|    Mouse|      UK|        0|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

#filter Condition on a particular column

In [72]:
df_pyspark.filter(col("Quantity ")=="20").show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     5|Keyboards|   India|       20|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [73]:
df_pyspark.groupBy(col("Quantity ")).sum().show()

+---------+-----------+--------------+
|Quantity |sum(emp_id)|sum(Quantity )|
+---------+-----------+--------------+
|       20|         16|            40|
|      100|          1|           100|
|       50|         12|           100|
|      110|         14|           220|
|       30|          2|            30|
|        0|         13|             0|
|       18|          8|            18|
+---------+-----------+--------------+

In [74]:

df_pyspark.groupBy("SalesItem").count().show()

+---------+-----+
|SalesItem|count|
+---------+-----+
|Pendrive |    1|
|Earphones|    2|
|Keyboards|    2|
|   Laptop|    1|
|    Mouse|    1|
|  Airpods|    1|
|  Mobile |    1|
| Desktops|    2|
+---------+-----+

In [75]:
df_pyspark.groupBy("SalesItem").max().show()

+---------+-----------+--------------+
|SalesItem|max(emp_id)|max(Quantity )|
+---------+-----------+--------------+
|Pendrive |          6|             0|
|Earphones|          9|            50|
|Keyboards|         11|            20|
|   Laptop|          1|           100|
|    Mouse|          7|             0|
|  Airpods|          8|            18|
|  Mobile |          2|            30|
| Desktops|         10|           110|
+---------+-----------+--------------+

In [76]:
df_pyspark.filter(col("Quantity " )<20).show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     6|Pendrive |  London|        0|
|     7|    Mouse|      UK|        0|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

Examples of the pyspark ML

In [78]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("ML").getOrCreate()

In [79]:
training= spark.read.csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [87]:
training=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [88]:
training.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [89]:
training.dtypes

[('emp_id', 'int'),
 ('SalesItem', 'string'),
 ('Country ', 'string'),
 ('Quantity ', 'int')]

In [98]:
from pyspark.ml.feature import VectorAssembler
featureAssembler = VectorAssembler(inputCols=('emp_id','Quantity '),outputCol=('Independent Column'))

In [99]:
output = featureAssembler.transform(training)

In [102]:
output

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int, Independent Column: vector]

In [105]:
output.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- SalesItem: string (nullable = true)
 |-- Country : string (nullable = true)
 |-- Quantity : integer (nullable = true)
 |-- Independent Column: vector (nullable = true)

In [108]:
output.show()

Py4JJavaError: An error occurred while calling o321.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 59.0 failed 1 times, most recent failure: Lost task 0.0 in stage 59.0 (TID 53) (11315-Shakshi.teamcomputers.com executor driver): org.apache.spark.SparkException: Failed to execute user defined function (VectorAssembler$$Lambda$3782/0x0000000101367840: (struct<emp_id_double_VectorAssembler_0c8ae61c67d9:double,Quantity _double_VectorAssembler_0c8ae61c67d9:double>) => struct<type:tinyint,size:int,indices:array<int>,values:array<double>>)
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failedExecuteUserDefinedFunctionError(QueryExecutionErrors.scala:190)
	at org.apache.spark.sql.errors.QueryExecutionErrors.failedExecuteUserDefinedFunctionError(QueryExecutionErrors.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkException: Encountered null while assembling a row with handleInvalid = "error". Consider
removing nulls from dataset or using handleInvalid = "keep" or "skip".
	at org.apache.spark.ml.feature.VectorAssembler$.$anonfun$assemble$1(VectorAssembler.scala:291)
	at org.apache.spark.ml.feature.VectorAssembler$.$anonfun$assemble$1$adapted(VectorAssembler.scala:260)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:38)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:260)
	at org.apache.spark.ml.feature.VectorAssembler.$anonfun$transform$6(VectorAssembler.scala:143)
	... 17 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:506)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:459)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:48)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3868)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3084)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:288)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:327)
	at jdk.internal.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function (VectorAssembler$$Lambda$3782/0x0000000101367840: (struct<emp_id_double_VectorAssembler_0c8ae61c67d9:double,Quantity _double_VectorAssembler_0c8ae61c67d9:double>) => struct<type:tinyint,size:int,indices:array<int>,values:array<double>>)
	at org.apache.spark.sql.errors.QueryExecutionErrors$.failedExecuteUserDefinedFunctionError(QueryExecutionErrors.scala:190)
	at org.apache.spark.sql.errors.QueryExecutionErrors.failedExecuteUserDefinedFunctionError(QueryExecutionErrors.scala)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:364)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:890)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:890)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: org.apache.spark.SparkException: Encountered null while assembling a row with handleInvalid = "error". Consider
removing nulls from dataset or using handleInvalid = "keep" or "skip".
	at org.apache.spark.ml.feature.VectorAssembler$.$anonfun$assemble$1(VectorAssembler.scala:291)
	at org.apache.spark.ml.feature.VectorAssembler$.$anonfun$assemble$1$adapted(VectorAssembler.scala:260)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:38)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:260)
	at org.apache.spark.ml.feature.VectorAssembler.$anonfun$transform$6(VectorAssembler.scala:143)
	... 17 more