In [1]:
#!pip install pyspark

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\11315\Documents\DataPrac.csv")

   emp_id  SalesItem Country   Quantity
0       1     Laptop    India      100.0
1       2    Mobile     India       30.0
2       3  Earphones    India       50.0
3       4   Desktops    India      110.0
4       5  Keyboards    India       20.0
5       6  Pendrive    London        NaN
6       7      Mouse       UK        NaN
7       8    Airpods      USA       18.0

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPrac.csv")

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [10]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [11]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPrac.csv",inferSchema=True)

In [12]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [13]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

# type shows the type of dataframe

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(2)

[Row(emp_id=1, SalesItem='Laptop', Country ='India', Quantity =100),
 Row(emp_id=2, SalesItem='Mobile ', Country ='India', Quantity =30)]

#printSchema  tells about information of column and datatype

In [16]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- SalesItem: string (nullable = true)
 |-- Country : string (nullable = true)
 |-- Quantity : integer (nullable = true)

In [17]:
df_pyspark.columns

['emp_id', 'SalesItem', 'Country ', 'Quantity ']

Shows informatipon of particular column

In [18]:
df_pyspark.select('SalesItem').show()

+---------+
|SalesItem|
+---------+
|   Laptop|
|  Mobile |
|Earphones|
| Desktops|
|Keyboards|
|Pendrive |
|    Mouse|
|  Airpods|
+---------+

In [19]:
df_pyspark.dtypes

[('emp_id', 'int'),
 ('SalesItem', 'string'),
 ('Country ', 'string'),
 ('Quantity ', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+-----------------+---------+--------+------------------+
|summary|           emp_id|SalesItem|Country |         Quantity |
+-------+-----------------+---------+--------+------------------+
|  count|                8|        8|       8|                 6|
|   mean|              4.5|     null|    null|54.666666666666664|
| stddev|2.449489742783178|     null|    null|  40.7267315981367|
|    min|                1|  Airpods|   India|                18|
|    max|                8|Pendrive |     USA|               110|
+-------+-----------------+---------+--------+------------------+

Adding Column in Dataframe

PySpark SQL functions lit() and typedLit() are used to add a new column to DataFrame by assigning a literal or constant value. Both these functions return Column type as return type.

In [21]:
from pyspark.sql.functions import lit

In [22]:
df_pyspark.withColumn('Price',lit(100000)).show()

+------+---------+--------+---------+------+
|emp_id|SalesItem|Country |Quantity | Price|
+------+---------+--------+---------+------+
|     1|   Laptop|   India|      100|100000|
|     2|  Mobile |   India|       30|100000|
|     3|Earphones|   India|       50|100000|
|     4| Desktops|   India|      110|100000|
|     5|Keyboards|   India|       20|100000|
|     6|Pendrive |  London|     null|100000|
|     7|    Mouse|      UK|     null|100000|
|     8|  Airpods|     USA|       18|100000|
+------+---------+--------+---------+------+

In [23]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [24]:
df_pyspark.drop('price')

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [25]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [26]:
# Renamed the Column
df_pyspark.withColumnRenamed('Quantity', 'ProductQuantity')

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [27]:
df_pyspark.show(5)

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
+------+---------+--------+---------+
only showing top 5 rows

# Handling Missing Values

In [28]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [29]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [30]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [31]:
df_pyspark=spark.read.option('header',True).csv(r"C:\Users\11315\Documents\DataPrac.csv",inferSchema=True)

In [32]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [33]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+