In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in c:\python3.11\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\python3.11\lib\site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\11315\Documents\DataPrac.csv")

   emp_id  SalesItem Country   Quantity
0       1     Laptop    India      100.0
1       2    Mobile     India       30.0
2       3  Earphones    India       50.0
3       4   Desktops    India      110.0
4       5  Keyboards    India       20.0
5       6  Pendrive    London        NaN
6       7      Mouse       UK        NaN
7       8    Airpods      USA       18.0

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPrac.csv")

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [10]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [11]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPrac.csv",inferSchema=True)

In [12]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [13]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

# type shows the type of dataframe

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(2)

[Row(emp_id=1, SalesItem='Laptop', Country ='India', Quantity =100),
 Row(emp_id=2, SalesItem='Mobile ', Country ='India', Quantity =30)]

#printSchema  tells about information of column and datatype

In [16]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- SalesItem: string (nullable = true)
 |-- Country : string (nullable = true)
 |-- Quantity : integer (nullable = true)

In [17]:
df_pyspark.columns

['emp_id', 'SalesItem', 'Country ', 'Quantity ']

Shows informatipon of particular column

In [18]:
df_pyspark.select('SalesItem').show()

+---------+
|SalesItem|
+---------+
|   Laptop|
|  Mobile |
|Earphones|
| Desktops|
|Keyboards|
|Pendrive |
|    Mouse|
|  Airpods|
+---------+

In [19]:
df_pyspark.dtypes

[('emp_id', 'int'),
 ('SalesItem', 'string'),
 ('Country ', 'string'),
 ('Quantity ', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+-----------------+---------+--------+------------------+
|summary|           emp_id|SalesItem|Country |         Quantity |
+-------+-----------------+---------+--------+------------------+
|  count|                8|        8|       8|                 6|
|   mean|              4.5|     null|    null|54.666666666666664|
| stddev|2.449489742783178|     null|    null|  40.7267315981367|
|    min|                1|  Airpods|   India|                18|
|    max|                8|Pendrive |     USA|               110|
+-------+-----------------+---------+--------+------------------+

Adding Column in Dataframe

PySpark SQL functions lit() and typedLit() are used to add a new column to DataFrame by assigning a literal or constant value. Both these functions return Column type as return type.

In [21]:
df_pyspark= df_pyspark.withColumn('Demo',df_pyspark['Quantity ']).show()

+------+---------+--------+---------+----+
|emp_id|SalesItem|Country |Quantity |Demo|
+------+---------+--------+---------+----+
|     1|   Laptop|   India|      100| 100|
|     2|  Mobile |   India|       30|  30|
|     3|Earphones|   India|       50|  50|
|     4| Desktops|   India|      110| 110|
|     5|Keyboards|   India|       20|  20|
|     6|Pendrive |  London|     null|null|
|     7|    Mouse|      UK|     null|null|
|     8|  Airpods|     USA|       18|  18|
+------+---------+--------+---------+----+

In [22]:
from pyspark.sql.functions import lit

In [23]:
df_pyspark.withColumn('Price',lit(100000)).show()

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [ ]:
df_pyspark.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
df_pyspark.drop('price')

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [ ]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+

In [ ]:
# Renamed the Column
df_pyspark.withColumnRenamed('Quantity ', 'ProductQuantity')

DataFrame[emp_id: int, SalesItem: string, Country : string, ProductQuantity: int]

In [ ]:
df_pyspark.show(5)

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
+------+---------+--------+---------+
only showing top 5 rows

# Handling Missing Values

In [ ]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [ ]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [ ]:
df_pyspark=spark.read.option('header',True).csv(r"C:\Users\11315\Documents\DataPracNew.csv",inferSchema=True)

In [ ]:
df_pyspark

DataFrame[emp_id: int, SalesItem: string, Country : string, Quantity : int]

In [ ]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [ ]:
# Threshold 
# thresh=2 --if there are atleast two Non-Null values present in the Row, then the threshold function will not remove any Null values from a row.
df_pyspark.na.drop(how='any',thresh=2).show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [ ]:
#Subset

In [ ]:
from pyspark.ml.feature import Imputer

Imputer=Imputer
inputcols=Imputer(
inputcols=['emp_id','SalesItem','Country','Quantity'],
outputcols=["{}_imputed".format(c) for c in ['emp_id','SalesItem','Country','Quantity']]
).setStrategy("mean")

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.functions import when

In [ ]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|     null|
|     7|    Mouse|      UK|     null|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

we can use sunset=['coumn Name'] for removing null values from individual column. or we can use when condition.

In [ ]:
df_pyspark.na.fill(value=0).show()

df_pyspark = df_pyspark.withColumn("Quantity ", when(df_pyspark["Quantity "].isNull(), 0).otherwise(df_pyspark["Quantity "]))

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
|     6|Pendrive |  London|        0|
|     7|    Mouse|      UK|        0|
|     8|  Airpods|     USA|       18|
|     9|Earphones|   India|       50|
|    10| Desktops|   India|      110|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

#filter Condition on a particular column

In [ ]:
df_pyspark.filter(col("Quantity ")=="20").show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     5|Keyboards|   India|       20|
|    11|Keyboards|   India|       20|
+------+---------+--------+---------+

In [ ]:
df_pyspark.groupBy(col("Quantity ")).sum().show()

+---------+-----------+--------------+
|Quantity |sum(emp_id)|sum(Quantity )|
+---------+-----------+--------------+
|       20|         16|            40|
|      100|          1|           100|
|       50|         12|           100|
|      110|         14|           220|
|       30|          2|            30|
|        0|         13|             0|
|       18|          8|            18|
+---------+-----------+--------------+

In [ ]:

df_pyspark.groupBy("SalesItem").count().show()

+---------+-----+
|SalesItem|count|
+---------+-----+
|Pendrive |    1|
|Earphones|    2|
|Keyboards|    2|
|   Laptop|    1|
|    Mouse|    1|
|  Airpods|    1|
|  Mobile |    1|
| Desktops|    2|
+---------+-----+

In [ ]:
df_pyspark.groupBy("SalesItem").max().show()

+---------+-----------+--------------+
|SalesItem|max(emp_id)|max(Quantity )|
+---------+-----------+--------------+
|Pendrive |          6|             0|
|Earphones|          9|            50|
|Keyboards|         11|            20|
|   Laptop|          1|           100|
|    Mouse|          7|             0|
|  Airpods|          8|            18|
|  Mobile |          2|            30|
| Desktops|         10|           110|
+---------+-----------+--------------+

In [ ]:
df_pyspark.filter(col("Quantity " )<20).show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     6|Pendrive |  London|        0|
|     7|    Mouse|      UK|        0|
|     8|  Airpods|     USA|       18|
+------+---------+--------+---------+