In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\11315\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\11315\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv(r"C:\Users\11315\Documents\DataPrac.csv")

   emp_id  SalesItem Country   Quantity
0       1     Laptop    India        100
1       2    Mobile     India         30
2       3  Earphones    India         50
3       4   Desktops    India        110
4       5  Keyboards    India         20

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv(r"C:\Users\11315\Documents\DataPrac.csv")

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [11]:
df_pyspark.show()

+------+---------+--------+---------+
|   _c0|      _c1|     _c2|      _c3|
+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
+------+---------+--------+---------+

In [14]:
df_pyspark=spark.read.option('header','true').csv(r"C:\Users\11315\Documents\DataPrac.csv")

In [15]:
df_pyspark

DataFrame[emp_id: string, SalesItem: string, Country : string, Quantity : string]

In [16]:
df_pyspark.show()

+------+---------+--------+---------+
|emp_id|SalesItem|Country |Quantity |
+------+---------+--------+---------+
|     1|   Laptop|   India|      100|
|     2|  Mobile |   India|       30|
|     3|Earphones|   India|       50|
|     4| Desktops|   India|      110|
|     5|Keyboards|   India|       20|
+------+---------+--------+---------+

# type shows the type of dataframe

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head(2)

[Row(emp_id='1', SalesItem='Laptop', Country ='India', Quantity ='100'),
 Row(emp_id='2', SalesItem='Mobile ', Country ='India', Quantity ='30')]

#printSchema  tells about information of column and datatype

In [22]:
df_pyspark.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- SalesItem: string (nullable = true)
 |-- Country : string (nullable = true)
 |-- Quantity : string (nullable = true)